<% if flash[:notice] %>
  <h2 style="color:green;"><%= flash[:notice] %></h2>
<% end %>

<% if flash[:messages] %>
  <% flash[:messages].each do |message| %>
    <h2 style="color:red;"><%= message %></h2>
  <% end %>
<% end %>

<h2>Edit This Otter</h2>
<h3>Current Settings:</h3>
Name: <%= @otter.name %><br>
Age: <%= @otter.age %><br>
Cuteness: <%= @otter.cuteness %>/10<br>
Softness: <%= @otter.softness %>/10<br><br>

<h3>Make changes:</h3>

<%= render 'form' %>

<%= link_to 'Back to index', root_path %>
<%= link_to 'Delete this Otter', @otter, method: :delete %>