<h2>Create a New Otter</h2>
<%= form_with(model: @article) do |f| %>
  Name: <%= f.text_field :name %><br>
  Age (whole number): <%= f.text_field :age %><br>
  Cuteness rating (1 to 10): <%= f.text_field :cuteness %><br>
  Softness rating (1 to 10): <%= f.text_field :softness %><br><br>
  <%= f.submit 'Create Otter!' %><br><br>
<% end %>

<%= link_to 'Back to index',  root_path %>