<h2><%= @otter.name %></h2><br>

Age: <%= @otter.age %><br>
Cuteness: <%= @otter.cuteness %>/10<br>
Softness: <%= @otter.softness %>/10<br><br>

<%= link_to 'Edit this otter!', edit_otter_path(@otter) %>
<%= link_to 'Back to index',  root_path %>